.container-sm > p {
  padding: 20px 0px;
}
div.hero-copy h1 {
  font-size: 38px;
  margin: 30px 0px;
}
.container-sm .section-title,
div.hero-copy .hero-paragraph {
  font-size: 28px;
}
div.hero-copy .hero-paragraph {
  margin: 50px 0px;
}

img.first.opaqueBgImg {
  background: white;
  box-shadow: 0.7px 0.6px 0.7px rgba(0, 0, 0, 0.047),
    1.6px 1.4px 1.6px rgba(0, 0, 0, 0.069),
    2.7px 2.3px 2.7px rgba(0, 0, 0, 0.085),
    4.1px 3.6px 4.1px rgba(0, 0, 0, 0.098),
    6.1px 5.3px 6.1px rgba(0, 0, 0, 0.112),
    8.9px 7.8px 8.9px rgba(0, 0, 0, 0.125),
    13.4px 11.7px 13.4px rgba(0, 0, 0, 0.141),
    21.3px 18.7px 21.3px rgba(0, 0, 0, 0.163),
    40px 35px 40px rgba(0, 0, 0, 0.21);
}
img.second.opaqueBgImg {
  background: white;
}
img.first.opaqueBgImg,
img.second.opaqueBgImg {
  max-width: 100%;
}

@media (min-width: 641px) {
  div.hero-copy h1 {
    font-size: 60px;
  }
  /* div.hero-copy .hero-paragraph {
    font-size: 27px;
  } */
  img.first.opaqueBgImg {
    max-width: 658px;
    width: 658px;
  }
  img.second.opaqueBgImg {
    max-width: 558px;
    width: 558px;
  }
}
